h1 {
  font-family: Verdana, Arial, Helvetica;
  font-size: 20pt
}

h2 {
  font-family: Verdana, Arial, Helvetica;
  font-size: 13pt
}

li {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt
}

p {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt
}

td {
  font-family: Verdana, Arial, Helvetica;
  font-size: 10pt
}

.Footer {
  font-family: Verdana, Arial, Helvetica;
  font-size: 8pt;
  vertical-align: top;
  width: 33.3%
}
